*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.all{
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    background-color: #211915;
}
    .header{
        display: flex;
        flex-flow: column;
        flex-wrap: nowrap;
    }
    .menu{
        background:url(../images/design2_image1.jpg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        display: flex;
        flex-flow: row;
        height: 100vh;
        align-items: flex-start;
}
.title{
    color: #F9F54B;
    flex: 1 1 auto;
    font-size: 3rem;
    margin: 2vw;
        color: #fff;
        text-shadow:
            0 0 5px rgba(248,225,46),
            0 0 10px rgba(248,225,46),
            0 0 20px rgba(248,225,46),
            0 0 40px rgba(248,225,46),
            0 0 80px rgba(248,225,46),
            0 0 90px rgba(248,225,46),
            0 0 100px rgba(248,225,46),
            0 0 140px rgba(248,225,46),
            0 0 180px rgba(248,225,46);
}

.nav{
    text-decoration: none;
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 20vw;
}
a{
    background-color: #211915;
    text-decoration: none;
    color: #c64832;
    font-weight: bold;
    font-size: 1rem;
    padding: 10px;
    border-radius: 5px;
}
a:hover{
    color: #211915;
    background-color: #c64832;
    transition: .5s;
}
    .text-primary{
        background-color: #F9F54B;
    }
    .subtitle{
        display: flex;
        justify-content: center;
    }
    .title_art{
        color: #F9F54B;
        margin-top: 1vh;
    }

    .section{
        background-color: #211915;
        display: flex;
        height: 75vh;
    }
    .article-top{
        flex: 1 1 auto;
        flex-wrap: wrap;
        margin-left: 5vw;
    }
        .article{
            color: #F9F54B;
        }
        .text{
            padding-left: 2vw;
            padding-top: 1vh;
        }
    .aside{
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        align-items: center;
    }
        .logo{
            height: 40vh;
        }
.footer{
    background-color: #211915;
    display: flex;
    justify-content: center;
}
    .feet{
        background-color: #c64832;
        width: 30vw;
        text-align: center;
        font-weight: bold;
    }
dl, dt, h2{
    color: #F9F54B;
}
dl{
    margin-top: 10vh;
    flex-wrap: wrap;
}
dd{
    color: #F9F54B;
}
.th1{
    color: #F9F54B;
}
th{
    color: #F9F54B;
    padding: 0.5rem;
    font-size: 15px;
}
.list-order{
    display: flex;
}
li{
    color: #F9F54B;
}
.gallery{
    padding: 2vh;
    color: #F9F54B;
    height: 40vh;
}
.container{
    display: flex;
    margin-bottom: 10vh;
    justify-content:space-around;
    align-items:center;
    flex-wrap: nowrap;
}